---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -misc-definitions-in-headers,
        -bugprone-exception-escape,
        -hicpp-uppercase-literal-suffix,
        -readability-uppercase-literal-suffix,
        -bugprone-easily-swappable-parameters,
        -readability-identifier-length,
        -readability-make-member-function-const,
        -cppcoreguidelines-pro-type-member-init,
        -hicpp-member-init, 
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -readability-convert-member-functions-to-static,
        -cert-dcl16-c,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none